@media screen and (max-width:576px){
    body { display: flex;
        flex-direction: column;
        overflow-x: hidden;
    
    }
    .info {
        display: flex;
        flex-direction: column;
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
    }
    .banner {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        
    }
    .banner img {
        width: 70%;
    }
    .pictures {
        display: flex;
        flex-direction: column;
    }
    .categories {
        display: flex;
        flex-direction: column;
    }
    .categories div {
         width: 60%;
    }
    .price {
        display: flex;
        flex-direction: column;
    }
    .banner2 {
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 7px;
        height: 200px;
    }
    .banner2 button {
        font-size: 7px;
        padding: 2px;
    }
    .blog {
        display: flex;
        flex-direction: column;
    }
    .blog img{ 
        width:fit-content;
        overflow-x: hidden;
       
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}